.navbar {
  background-color: $color-black;
}

.nav-item {
  font-size: $font-sm;
  font-family: $font-family-principal, $font-family-secundary;
}

.searchInput {
  background-color: $color-transparent;
  &:focus {
    color: $color-white;
  }
}
