// VARIABLES

$font-family-principal: 'Roboto';
$font-family-secundary: 'Open Sans';

$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;

$color-blue: #5BE0E6;
$color-pink: #F54895;
$color-black: #000000;
$color-white: #FFFFFF;
$color-transparent: transparent;

$ancho-desktop: 1024px;
$ancho-mobile: 720px;
